
@model ViewPost
@{
    ViewData["Title"] = "New blog post";
	Layout = "~/Views/_LayoutMain.cshtml";
}

<form method="post">
	<fieldset>
		<legend><b>New blog post</b></legend>
		<p>
			<label asp-for="CurrentPost.Category"></label>
			<select asp-for="CurrentPost.CategoryID" asp-items="@Model.Categories"></select>
		</p>
		<p>
			<span asp-validation-for="CurrentPost.Title" class="form-error"></span>
			<label asp-for="CurrentPost.Title"></label>
			<input asp-for="CurrentPost.Title" />
		</p>
		<p>
			<span asp-validation-for="CurrentPost.Content" class="form-error"></span>
			<label asp-for="CurrentPost.Content"></label>
			<textarea asp-for="CurrentPost.Content"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit"/>
		</p>
	</fieldset>
</form>