
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
</head>
<body>
<h1>@ViewData["Title"]</h1>
<p>
	<a asp-action="Create">&#171; New post</a>
</p>
</body>
</html>