
@model Category

@{
	ViewData["Title"] = "Categories";
	List<Category> Categories = ViewBag.Categories;
	bool wasCreated = ViewBag.wasCreated ?? false;
	Layout = "~/Views/_LayoutMain.cshtml";
}

<div>
	<h2>Existing categories</h2>
	<i>- @Categories.Count categor@(Categories.Count == 1 ? "y" : "ies") -</i>
	<ul>
		@foreach (Category category in Categories)
		{
			<li><a asp-controller="Blog" asp-action="Search" asp-route-Query="@category.Name">@category.Name</a></li>
		}
	</ul>
</div>
<div>
	@if (wasCreated)
	{
		<div>
			<strong>Category @Model.Name created!</strong>
		</div>
	}
	<form asp-action="Create">
		<fieldset>
			<legend><b>New category</b></legend>

			<p>
				<span asp-validation-for="Name" class="form-error"></span>
				<label asp-for="Name"></label>
				<input asp-for="Name"/>
			</p>

			<input type="submit" value="Submit"/>
		</fieldset>
	</form>
</div>